nav {
  display: flex;
  justify-content: space-between; /* Align items to the start and end */
  align-items: center; /* Center items along the cross axis (horizontal alignment) */
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
  flex: 1;
}

.btn-group {
  display: flex;
}

.btn-group button {
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: rgb(0, 0, 0); /* White text */
  padding: 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

/* Rounded left and right buttons */
.btn-group button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-group button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #bfcee0;
}